@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.root {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 360px;
    height: 578px;

    font-family: 'Inter', sans-serif;

    border: 1px solid #E2E9F3;
    border-radius: 6px;

    background: #FFFFFF;

    & > h2 {
        color: #2B3151;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;

        margin-top: 24px;
    }
}

.new_user {
    font-size: 16px;
    line-height: 160%;
    color: #2B3151;

    margin-bottom: 24px;

    & > a {
        color: #2856AE;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.with_google,
.with_microsoft {
    position: relative;

    background: none;
    outline: none;
    
    width: 264px;
    height: 44px;
    border: 1px solid #CDD7E5;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-bottom: 16px;

    text-align: baseline;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0;

    & > img {
        margin: 9.4px 17.4px 9.4px 13.4px;

        width: 25.2px;
        height: 25.2px;
    }

    & > span {
        font-size: 14px;
        color: #2856AE;
        line-height: 144%;
        font-weight: 400;
    }

    &:hover {
        background: #2856AE;
        & > span {
            color: white;
        }
    }
}

.with_microsoft {
    margin-bottom: 12px;
}

.or {
    width: 18px;
    height: 28px;

    position: relative;

    color: #8C93A3;
    font-weight: 400px;
    font-size: 18px;

    margin-bottom: 14px;

    &::after {
        position: absolute;
        left: 30px;
        top: 10px;
        content: ' ';
        width: 102px;
        height: 1px;
        background: #E2E9F3;
    }

    &::before {
        position: absolute;
        left: -122px;
        top: 10px;
        content: ' ';
        width: 107px;
        height: 1px;
        background: #E2E9F3;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > a {
        font-size: 16px;
        color: #2856AE;
        text-decoration: none;

        margin-bottom: 26.5px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.input {
    width: 264px;
    height: 40px;

    border: 1px solid #CDD7E5;
    border-radius: 4px;

    background: #FCFDFF;
    box-sizing: border-box;

    margin-bottom: 24px;
    padding: 11px 8px 10px;

    &::placeholder {
        font-size: 16px;
        color: #929BAD;
    }

    outline: none;
}

.wrong_email {
    position: relative;
    &::after {
        position: absolute;
        top: 45px;
        right: 0;
        content: 'Not valid email';
        color: #E1485B;
        font-size: 12px;
    }
     & > input {
        border-color: #E1485B;
     }
}

.wrong_password {
    position: relative;
    &::after {
        position: absolute;
        top: 45px;
        right: 0;
        content: 'Password must be at least 8 characters';
        color: #E1485B;
        font-size: 12px;
    }
     & > input {
        border-color: #E1485B;
     }
}

.check {
    align-self: flex-start;
    color: #2B3151;
    margin-bottom: 26.5px;
}

.submit {
    width: 264px;
    height: 48px;

    border-radius: 3px;
    border: none;

    background: #3EBF8A;

    color: white;
    font-size: 18px;
    font-weight: 500;
}